body{
    margin: 0;
    padding: 0;
    background-color: #000918;
    color: white;
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}

#MainContent{
    display: flex;
    width: clamp(300px, 80vw, 1600px);
    margin: 10px auto 250px auto;
}
#Left{
    width: 70%;
}
#MainImg{
    margin-top: 5px;
    width: 100%;
    border-radius: 5px;
}
#MainEvent{
    padding: 5px;
}
#Title{
    font-weight: 500;
    font-size: 1.6rem;
}
#SmallFeature{
    padding: 0 5px;
}
#EventUrl{
    color: aqua;
}
#EventUrl:hover{
    color: rgb(0, 174, 174);
}
#Date{
    margin: 10px 0 0 0;
}
#TagList{
    display: flex;
    margin: 10px 0 0 0;
}
.Tag{
    padding: 2px 8px 5px 8px;
    margin: 0 15px 0 0;
    border-radius: 15px;
    background-color: #2e2e2e;
    user-select: none;
}
#MainText{
    margin: 20px 0 0 0 ;
    font-size: 1.1rem;
    
}




#Right{
    width: 35%;
    margin-left: 2vw;
}
#RecommendedEvents h1{
    margin: 0;
    font-size: clamp(21px, 2vw, 33px);
}
#EventsList{
    margin: 10px 0 0 1vw;
}
.Event{
    display: flex;
    padding: 10px 5px 10px 8px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}
.Event:hover{
    background-color: #213150;
}
.EventImg{
    width: 40%;
    min-width: 40%;
}
.EventImg img{
    width: 100%;
    border-radius: 5px;
}
.EventText{
    margin-left: 5px;
    font-size:clamp(13px, 1.3vw, 18.5px);
}


@media (max-width: 1440px) {
    #MainContent{
    width: clamp(0px, 90vw, 1600px);
    margin: 10px auto 250px auto;
}
}

@media (max-width: 769px) {
    #MainContent{
        display: block;
    }
    #Left {
        width: 100%;
        margin-bottom: 40px;
    }
    #Title {
        font-size: max(19px,2.8vw);
    }
    #SmallFeature {
        font-size: max(13px, 2vw);
    }
    #MainText {
        font-size: max(14.5px,2.3vw);
    }
    #Right {
        width: 100%;
        margin-left: 0;
    }
    #RecommendedEvents h1 {
        font-size: max(19px,2.8vw);
    }
    .Event {
        padding: 10px 5px;
    }
    .EventImg {
        width: 30%;
        min-width: 30%;
    }
    .EventImg img {
        width: 100%;
        border-radius: 5px;
    }
}

@media (max-width: 480px) {
}