body{
    margin: 0;
    padding: 0;
    background-color: #000918;
    color: white;
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}

#MainContent{
    display: flex;
    width: 80%;
    max-width: 1650px;
    min-width: 900px;
    margin: 3px auto 0 auto;
}
#Left{
    width: 70%;
}
#MainImg{
    margin-top: 5px;
    width: 100%;
}
#MainEvent{
    padding: 5px;
}
#Title{
    font-size: 1.6rem;
}
#SmallFeature{
    padding: 0 5px;
}
#EventUrl{
    color: aqua;
}
#EventUrl:hover{
    color: rgb(0, 174, 174);
}
#Date{
    margin: 10px 0 0 0;
}
#TagList{
    display: flex;
    margin: 10px 0 0 0;
}
.Tag{
    padding: 2px 8px 5px 8px;
    margin: 0 15px 0 0;
    border-radius: 15px;
    background-color: #2e2e2e;
    user-select: none;
}
#MainText{
    margin: 20px 0 0 0 ;
    font-size: 1.1rem;
    
}




#Right{
    width: 35%;
    margin-left: 2vw;
}
#RecommendedEvents h1{
    margin: 0;
    font-size: 2.2vw;
}
#EventsList{
    margin: 10px 0 0 1vw;
}
.Event{
    display: flex;
    padding: 10px 0 10px 5px;
}
.Event:hover{
    background-color: #213150;
}
.EventImg{
    width: 40%;
}
.EventImg img{
    width: 100%;
    border-radius: 5px;
}
.EventText{
    margin-left: 5px;
    font-size: 1.3vw;
}

@media (max-width: 1000px){
}
