#Footer{
    margin-top: 100px;
    padding: 20px 0;
    background-color: #1a1a1a;
}
#FooterLogo{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
#FooterLogoImg{
    width: 150px;
    margin: 0 auto;
}
#Copyright{
    margin: 30px 0 0 0;
    text-align: center;
}