a{
    color: white;
}
/* ヘッダー */
header {
    background-color: #111;
    padding: 10px 20px;
}
#rogo{
    height: 50px;
    margin-right: 20px;
}
 
.headerContainer {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
 
/* ナビゲーション */
.Nav{
    display: flex;
    align-items: center;
    margin: 0 auto 0 0;
    color: white;
}
.NavButton{
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}
.NavButton:hover{
    color: #f5c518;
}
.Text{
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5;
}
.SubText{
    margin-bottom: 4px;
    text-align: center;
    font-size: 0.65rem;
    color: #cecece;
    line-height: 0.8;
}

/* ユーザーアイコン */
.userIcon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0.8;
    transition: all 0.5s ease; 
}
.userIcon img:hover{
    opacity: 1;
}

@media (max-width: 840px){
    #rogo{
        height: 40px;
        margin-right: 10px;
    }
    .NavButton{
        margin: 0 9px;
        text-decoration: none;
        transition: color 0.3s;
    }

    .Text{
        font-size: 0.9rem;
    }
    .SubText{
        font-size: 0.6rem;
    }
    .userIcon img{
        width: 35px;
        height: 35px;
    }
}
@media (max-width: 520px){
    header{
        padding: 5px 10px 5px 0;
    }
    .Text{
        font-size: 0.8rem;
    }
    .SubText{
        font-size: 0.5rem;
    }
}