body {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #000918;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

#MainContainer {
    padding: 1.5vw;
    margin: 0 auto;
    max-width: 1750px;
}
#TabSelect{
    display: flex;
    margin: 0 0 10px 20px;
    position: relative; /* 下線要素を絶対配置するため */
    padding-bottom: 3px; /* 下線が表示されるスペースを確保 */
}
.TabButton{
    padding: 7px 10px;
    margin-right: 5px;
    font-size: 1.1rem;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease; /* 文字色のみアニメーション */
}
.TabButton:hover{
    color: #fff;
}

/* アクティブなタブボタンの文字色 */
.TabButton.active {
    color: white; 
}

/* 独立した下線要素のスタイル */
#TabUnderline {
    position: absolute;
    bottom: 0; 
    height: 3px;
    background-color: white;
    transition: left 0.3s ease, width 0.3s ease;
}


#MovieContainer{
    width: 100%;
    display: flex; 
    overflow-x: hidden; /* 横方向のスクロールバーを非表示にする */
    align-items: flex-start;
}
.Tab{
    display: grid;
    /* コンテナの幅に応じて自動でカラムを生成 (最小150px, 最大1fr) */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* アイテム間の行と列のギャップ */
    gap: 30px 20px; 

    /* コンテナ全体を中央揃えにする */
    margin: 0 auto;
    width: 100%; /* 親要素の幅いっぱい */

    padding: 10px 20px;
    /* width/max-widthにpaddingを含めるようにする */
    box-sizing: border-box;
    flex-shrink: 0;  
}
.MovieImg{
    display: flex;
    justify-self: center;
    height: min-content;
}
.MovieImg img{
    width: 100%; /* 親要素(MovieImg)の幅に合わせて調整 */
    min-width: 120px;
    max-width: 180px;
    border-radius: 8px;
    object-fit: contain;
}
.MovieImg img:hover{
    transform: scale(1.1)translateY(-5px);
}
.MovieImg div{
    display: flex;
    flex-flow: column;
    height: min-content;
    margin-top: 5px;
    text-align: center;
    font-size: 0.75rem;
}


@media (max-width: 1440px) {
    .Tab{
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 15px 20px;
    }
    #ComingTab{
        gap: 20px 20px;
    }
    .MovieImg div {
        font-size: max(10px,0.8vw);
    }
}

@media (max-width: 769px) {
    #MainContainer {
        padding-top: 10px;
    }
    #TabSelect {
        margin: 0 0 5px 20px;
    }
    .Tab{
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        gap: 10px 20px;
    }
    #ComingTab{
        gap: 13px 20px;
    }
    .MovieImg img {
        min-width: 0px;
    }
}

@media (max-width: 480px) {
    .Tab{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 20px 15px;
    }
    #ComingTab{
        gap: 13px 13px;
    }
    .MovieImg img {
        min-width: 0px;
    }
    .MovieImg img:hover{
    transform: scale(1)translateY(0px);
    }
}