body{
    width: 100%;
}
a{
    color: white;
    text-decoration: none;
}

#MainContent{
    display: flex;
    width: 80%;
    max-width: 1650px;
    margin: 0 auto;
}
#Left{
    width: 70%;
}
#MainImg{
    width: 100%;
}
#Title{
    font-size: 1.6rem;
}
#Date{
    margin: 10px 0 0 0;
}
#TagList{
    display: flex;
    margin: 10px 0 0 0;
}
.Tag{
    padding: 2px 8px 5px 8px;
    margin: 0 15px 0 0;
    border-radius: 15px;
    background-color: #2e2e2e;
    user-select: none;
}
#MainText{
    margin: 25px 0 0 0 ;
    font-size: 1.2rem;
    
}




#Right{
    width: 30%;
    margin-left: 2vw;
}
.Event{
    display: flex;
    margin-bottom: 20px;
}
.EventImg{
    width: 45%;
}
.EventImg img{
    width: 100%;
}
.EventText{
    width: 55%;
    margin-left: 5px;
    font-size: 0.9rem;
}
