body{
    margin: 0;
    padding: 0;
    background-color: #000918;
    color: white;
}
/* ----------------------------------------------------------------ヘッダー------------------------------------------------------------------------- */

#Header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #000610;
}
#HeaderRogo{
    margin-left: 20px;
    width: 100px;

}
.HeaderButton{
    padding: 5px 10px;
    margin: 0 10px;
    text-align: center;
    line-height: 0.8rem;
    border-radius: 10px;
}
.HeaderButton:hover{
    background-color: #ffffff2a;
}
.HeaderButtonText{
    font-size: 0.9rem;
}
.HeaderButtonEnText{
    font-size: 0.7rem;
}
#HeaderIcon{
    margin: 0 15px 0 auto;
    opacity: 0.9;
}
#HeaderIcon:hover{
    opacity: 1;
}

#IconImg{
    height: 42px;
}