<!-- Popper.jsを先に読み込む (Tippy.jsの依存関係) -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<!-- Tippy.jsを読み込む -->
<script src="https://unpkg.com/tippy.js@6"></script>
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css"/>
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/shift-away.css"/> <!-- 必要に応じてアニメーション用CSSも -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

<div id="Footer">
    <div id="FooterLogo">
        <a href="/" data-tippy-content="トップに戻る"><img src="{{ url_for('static', filename='images/logosiro.png') }}" alt="HALシネマ ロゴ" id="FooterLogoImg"></a>
    </div>
    <div id="Copyright">© 2025 HALシネマ All Rights Reserved.</div>
</div>

<script>
    tippy('[data-tippy-content]',{
        placement: 'bottom-start',
        arrow: false,
    });
</script>