<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<header>
  <div class="headerContainer">
    <a href="/">
      <img src="{{ url_for('static', filename='images/logosiro.png') }}" alt="HALシネマロゴ" id="rogo">
    </a>
    <div class="Nav">
      <a href="/movie_list" class="NavButton">
        <div class="Text">上映中</div>
        <div class="SubText">Now playing</div>
      </a>
      <a href="/movie_list?set=comingsoon" class="NavButton">
        <div class="Text">公開予定</div>
        <div class="SubText">Coming Soon</div>
      </a>
      <a href="/guide" class="NavButton">
        <div class="Text">劇場を探す</div>
        <div class="SubText">Theater LIst</div>
      </a>

    </div>
    <a href="/profile"><div class="userIcon">
      <img src="{{ url_for('static', filename='images/genta.jpg') }}" alt="ユーザーアイコン" />
    </div></a>
  </div>
</header>
 