<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<header>
  <div class="headerContainer">
    <a href="">
      <img src="{{ url_for('static', filename='images/logosiro.png') }}" alt="HALシネマロゴ" id="rogo">
    </a>
    <nav class="nav">
      <ul>
        <li>
          <a href="#">
            上映中<br/>
            <span class="subtext">Now playing</span>
          </a>
        </li>
        <li>
          <a href="#">
            公開予定
            <span class="subtext">Coming Soon</span>
          </a>
        </li>
        <li>
          <a href="#">
            劇場を探す
            <span class="subtext">Theater LIst</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="userIcon">
      <img src="{{ url_for('static', filename='images/genta.jpg') }}" alt="ユーザーアイコン" />
    </div>
  </div>
</header>
 