<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>映画情報登録</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_movie.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}">
</head>

<body>
    {% include 'flash.html' %}
    <h1>映画情報登録フォーム</h1>

    <!-- formタグを追加 -->
    <form action="/add_movie" method="post" enctype="multipart/form-data">

        <label for="movieTitle">映画タイトル</label>
        <input type="text" id="movieTitle" name="movieTitle" required>

        <label for="movieReleaseDate">公開日</label>
        <input type="date" id="movieReleaseDate" name="movieReleaseDate" required>

        <label for="movieEndDate">公開終了日</label>
        <input type="date" id="movieEndDate" name="movieEndDate">
        {% if errors and errors.date %}
        <p class="error-message">{{ errors.date }}</p>
        {% endif %}

        <label for="movieRunningTime">上映時間（分）</label>
        <input type="number" id="movieRunningTime" name="movieRunningTime" required>

        <label for="movieSynopsis">あらすじ</label>
        <textarea id="movieSynopsis" name="movieSynopsis" rows="6" required></textarea>

        <label for="movieImage">映画画像</label>
        <input type="file" id="movieImage" name="movieImage" accept="image/*">
        {% if errors and errors.movieImage %}
        <p class="error-message">{{ errors.movieImage }}</p>
        {% endif %}

        <button type="submit" class="btn-submit">登録</button>
        <button type="button" class="btn-back" onclick="location.href='/admin'">戻る</button>
    </form>
    <script src="{{ url_for('static', filename='js/flash.js') }}"></script>
</body>

</html>