<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/event.css') }}">
    <title>HALシネマ イベントページ</title>
</head>

<body>
    <div id="Header">
        <a href="">
            <div id="HeaderRogo">HALシネマ（仮ロゴ）</div>
        </a>

        <a href="">
            <div class="HeaderButton">
                <div class="HeaderButtonText">上映中</div>
                <div class="HeaderButtonEnText">Now Playing</div>
            </div>
        </a>
        <a href="">
            <div class="HeaderButton">
                <div class="HeaderButtonText">公開予定</div>
                <div class="HeaderButtonEnText">Coming Soon</div>
            </div>
        </a>
        <a href="">
            <div class="HeaderButton">
                <div class="HeaderButtonText">劇場を探す</div>
                <div class="HeaderButtonEnText">Theater List</div>
            </div>
        </a>

        <a href="" id="HeaderIcon"><img src="{{ url_for('static', filename='images/kkrn_icon_user_3.png') }}" alt="Icon" class="icon"></a>
    </div>




    <div id="MainContent">
        <div id="Left">
            <img src="{{ url_for('static', filename='images/ScreenX.png') }}" alt="「ScreenX」を3月7日(金)より１０９シネマズ名古屋に導入！" id="MainImg">
            <div id="Title">３面ワイドビューシアター「ScreenX」最新スペック版を3月7日(金)より１０９シネマズ名古屋に導入！</div>
            <div id="Date">2025年5月23日</div>
            <div id="TagList">
                <div class="Tag">名古屋</div>
                <div class="Tag">ScreenX</div>
                <div class="Tag">名古屋</div>
            </div>
            <div id="MainText">3月7日(金)より１０９シネマズ名古屋に中部地方で初めて、視界270度のディープな映画体験が可能な3面ワイドビューシアター「ScreenX」の最新スペック版導入を決定しました。
                「ScreenX」とは、正面のスクリーンに加え、左右の壁面にも映像が投影される3面ワイドビューシアターです。
                270度の視界すべてで映画を鑑賞することができ、映画の世界に自分の感覚が没入していくような臨場感を体感することができます。
                また、最新スペック版では、左右の壁面に正面と同様のスクリーン素材を施工し、また左右の映像を投影するプロジェクターもスペックアップすることで、3面スクリーンの映像が今まで以上に明るく一体化し、没入感がさらに増大します。
                映画の可能性をさらに広げる「ScreenX」のプレミアムラージフォーマットを、ぜひ１０９シネマズ名古屋でご体感ください。
                ※導入工事に伴い、１０９シネマズ名古屋のシアター5は1月21日(火)より休館させていただきます。</div>
        </div>


        <div id="Right">
            <div id="RecommendedEvents">
                <h1>おすすめのイベント</h1>
                <div id="EventsList">
                    <a href="#">
                        <div class="Event">
                            <div class="EventImg"><img src="images/ScreenX.jpg" alt="「ScreenX」を3月7日(金)より１０９シネマズ名古屋に導入！">
                            </div>
                            <div class="EventText">【12/4（水）より】109シネマズの新たな割引サービス「ペア割」について</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="Event">
                            <div class="EventImg"><img src="images/ScreenX.jpg" alt="「ScreenX」を3月7日(金)より１０９シネマズ名古屋に導入！">
                            </div>
                            <div class="EventText">【12/4（水）より】109シネマズの新たな割引サービス「ペア割」について</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="Event">
                            <div class="EventImg"><img src="images/ScreenX.jpg" alt="「ScreenX」を3月7日(金)より１０９シネマズ名古屋に導入！">
                            </div>
                            <div class="EventText">【12/4（水）より】109シネマズの新たな割引サービス「ペア割」について</div>
                        </div>
                    </a>



                </div>
            </div>
        </div>
    </div>
</body>

</html>