<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
  </head>
  
<body>
  {% include '_header.html' %}
  <main>

    {% if error %}
      <p style="color:red;">{{ error }}</p>
    {% endif %}
  
    <form method="POST">
      <h2>ログイン</h2>
      <label>メールアドレス: <input type="email" name="emailAddress" required></label><br>
      <label>パスワード: <input type="password" name="password" required></label><br>
      <p>新規登録は <a href="{{ url_for('register') }}" style="color: #00d4ff;" ><u>こちら</u></a></p>
      <button type="submit">ログイン</button>
    </form>
  </main>

  {% include '_footer.html' %}

  <script src="{{ url_for('static', filename='js/test.js') }}"></script>
</body>
</html>
