<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>施設案内</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/guide.css') }}">
</head>
<body>
  <header>
    <div class="headerContainer">
      <a href="">
        <img src="{{ url_for('static', filename='images/logosiro.png') }}" alt="ロゴ" width="130px">
      </a>
      <!-- <div class="siteName">HALシネマ</div> -->
      <nav class="nav">
        <ul>
          <li>
            <a href="#">
              上映中<br/>
              <span class="subtext">Now playing</span>
            </a>
          </li>
          <li>
            <a href="#">
              公開予定
              <span class="subtext">Coming Soon</span>
            </a>
          </li>
          <li>
            <a href="#">
              劇場を探す
              <span class="subtext">Theater LIst</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="userIcon">
        <img src="{{ url_for('static', filename='images/kkrn_icon_user_3.png') }}" alt="ユーザーアイコン" />
      </div>
    </div>
  </header>

  <p>会員登録ページ</p>



  <footer>
    <a href="">
      <img src="{{ url_for('static', filename='images/logosiro.png') }}" alt="ロゴ" width="100px">
    </a>
    <p> &copy; 2025 HALシネマ. All rights reserved.</p>
  </footer>
</body>
</html>
