<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>映画情報ページ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/movie_information.css') }}">
</head>

<body>
    {% include '_header.html' %}
    <main>
        <section class="movieCard">
            <img src="{{ url_for('static', filename=movie.poster) }}" alt="{{ movie.title }}のポスター" class="moviePoster">
            <div class="movieInfo">
                <h2 class="movieTitle">{{ movie.title|safe }}</h2>
                <p class="movieRelease">公開日: {{ movie.release }}</p>
                <p class="movieDescription">{{ movie.description }}</p>
                <p class="movieTime">上映時間 : {{ movie.duration }}</p>
            </div>
        </section>

        <section class="scheduleSection">
            <h2>上映スケジュール</h2>
            <div class="scheduleGrid">
                {% for day_key, day_info in movie.schedule.items() %}
                <div class="dayCard {{ day_key }}">
                    <div class="date">
                        <span class="month">{{ day_info.month }}/</span><span class="day">{{ day_info.day }}</span>
                    </div>
                    <div class="weekdayBox">{{ day_info.week }}</div>
                </div>
                {% endfor %}
            </div>
        </section>


        <section>
            {% for day_key, day_info in movie.schedule.items() %}
            <div class="reservationSchedule hidden" id="schedule-{{ day_key }}">
                <h2>{{ day_info.month }}/{{ day_info.day }}({{ day_info.week }})　　　　　　　　　　　　　　　　　予約状況</h2>
                <hr>
                {% for slot in day_info.slots %}
                <div class="slot">
                    <span class="label">{{ slot.label }}</span>
                    <span class="time">{{ slot.time }}</span>
                    <span class="status">{{ slot.status }}</span>
                    <button type="button" class="submit-btn" onclick="location.href='/seat_reservation'">予約</button>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </section>

        <div class="eiga">&copy; 2025 青山剛昌／名探偵コナン製作委員会</div>

    </main>

    {% include '_footer.html' %}
</body>

<script src="{{ url_for('static', filename='js/movie_information.js') }}"></script>


</html>