<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movie_list.css') }}">
    <title>HALシネマ 映画一覧画面</title>
</head>
<body>
    {% include '_header.html' %}


    <div id="MainContainer">
        <div id="TabSelect">
            <div id="NowBtn" class="TabButton">上映中</div>
            <div id="ComingBtn" class="TabButton">公開予定</div>
            <div id="TabUnderline"></div>
        </div>

        <div id="MovieContainer">
            <div id="NowTab" class="Tab">
            {% if now_playing %}
                {% for movie in now_playing %}
                <a class="MovieImg" href="/movie_information/{{ movie.moviesId }}"><img src="{{ url_for('static', filename='images/movie/200h/' + movie.movieImage ) }}" alt="{{ movie.movieTitle }}"></a>
                {% endfor %}
            {% endif %}
            </div>


            <div id="ComingTab" class="Tab">
                {% if coming_soon %}
                    {% for movie in coming_soon %}
                    <a class="MovieImg" href="/movie_information/{{ movie.moviesId }}"><div class="ComingSoon"><img src="{{ url_for('static', filename='images/movie/200h/' + movie.movieImage ) }}" alt="{{ movie.movieTitle }}"><div>{{ movie.movieReleaseDate|strftime('%Y年%m月%d日') }} 公開</div></div></a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <footer>
        {% include '_footer.html' %}
    </footer>
    


    <script src="{{ url_for('static', filename='js/movie_list.js') }}"></script>
</body>
</html>