<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>ユーザー登録</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
  {% include '_header.html' %}
  <main>
    {% if error %}
    <p style="color:red;  ">{{ error }}</p>
    {% endif %}
    <form method="POST">
      <h2>ユーザー登録</h2>
      <label>ユーザーID: <input type="number" name="accountId" required></label><br>
      <label>アカウント名: <input type="text" name="accountName" required></label><br>
      <label>メールアドレス: <input type="email" name="emailAddress" required></label><br>
      <label>パスワード: <input type="password" name="password" required></label><br>
      <label>パスワード（確認）: <input type="password" name="confirm_password" required></label><br>
      <label>本名: <input type="text" name="realName" required></label><br>
      <label>電話番号: <input type="text" name="phoneNumber" required></label><br>
      <label>生年月日: <input type="date" name="birthDate" required></label><br>
      <button type="submit">登録</button>
    </form>
  </main>
  {% include '_footer.html' %}

  <script src="{{ url_for('static', filename='js/test.js') }}"></script>
</body>
</html>
