<!DOCTYPE html>
<html lang="ja">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/seat_reservation.css') }}">
        <title>HALシネマ 座席予約</title>
</head>

<body data-showing-id="{{ showing_id }}">
        {% include '_header.html' %}
        <style>
                .hall {
                        display: none;
                }

                .hall.active {
                        display: block;
                }

                .seat {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        margin: 5px;
                        background-color: #ccc;
                        text-align: center;
                        line-height: 30px;
                        cursor: pointer;
                }
        </style>

        <br /><h2>予約する座席を選択</h2><br /><br />

        <div id="hall1" class="hall {% if screenId == 1 or screenId == 2 %}active{% endif %}">
                <!-- A行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">A</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">A</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- B行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">B</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">B</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- C行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">C</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">C</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <div class="row"></div>
                <div class="row"></div>

                <!-- D行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">D</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">D</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- E行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">E</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">E</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- F行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">F</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">F</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- G行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">G</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">G</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- H行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">H</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">H</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- I行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">I</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">I</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- J行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">J</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">J</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

        </div>

        <div id="hall2" class="hall {% if screenId == 3 or screenId == 4 %}active{% endif %}">
                <!-- A行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">A</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">A</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- B行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">B</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">B</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- C行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">C</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">C</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <div class="row"></div>
                <div class="row"></div>

                <!-- D行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">D</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">D</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- E行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">E</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">E</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- F行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">F</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">F</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- G行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">G</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">G</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- H行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">H</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">H</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- I行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">I</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">I</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>

                <!-- J行 -->
                <div class="row">
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">J</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">J</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                </div>
        </div>

        <div id="hall3" class="hall {% if screenId == 5 or screenId == 6 %}active{% endif %}">
                <!-- A行 -->
                <div class="row">
                        <div class="label">A</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">A</div>
                </div>

                <!-- B行 -->
                <div class="row">
                        <div class="label">B</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">B</div>
                </div>


                <div class="row"></div>
                <div class="row"></div>

                <!-- C行 -->
                <div class="row">
                        <div class="label">C</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">C</div>
                </div>

                <!-- D行 -->
                <div class="row">
                        <div class="label">D</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">D</div>
                </div>

                <!-- E行 -->
                <div class="row">
                        <div class="label">E</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">E</div>
                </div>

                <!-- F行 -->
                <div class="row">
                        <div class="label">F</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">F</div>
                </div>

                <!-- G行 -->
                <div class="row">
                        <div class="label">G</div>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <button class="seat"></button>
                        <div class="label">G</div>
                </div>
        </div>

        <br /><br /><br />


        <button type="button" id="submitReservation" class="submit-btn">予約</button>


        {% include '_footer.html' %}

        <script>
                const reservedSeats = {{ reserved_seats|tojson }};
        </script>

        <script src="{{ url_for('static', filename='js/seat_reservation.js') }}"></script>

</body>

</html>