<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/top.css') }}">
    <title>HALシネマ トップページ</title>
</head>

<body>
    {% include '_header.html' %}

    <!-- スライドショー -->
    <div class="slideshow-container">
        <div class="slideshow-wrapper">
        {% if screen_event %}
            {% for event in screen_event %}
                <div class="slide-item">
                    <a href="/event/{{ event.eventInfoId }}"><img src="{{ url_for('static', filename='images/event/original/' + event.eventImage ) }}" alt="{{ event.eventTitle }}"></a>
                </div>
            {% endfor %}
        {% endif %}
        </div>

        <!-- 左右のナビゲーションボタン -->
        <button class="slide-button prev-button"></button>
        <button class="slide-button next-button"></button>
    </div>


    <!-- メインコンテンツ -->
    <div class="ContentContainer">
        <div class="ContentBox">
            <div class="ContentText">人気の映画</div>
            <a href="/movie_list" class="ContentTextMore">
                <div>もっとみる</div>
            </a>
        </div>

        <div class="Content">
            <div class="ScrollButton LeftButton Arrow">&#10094</div>

            <div class="ScrollContainer CssOnly JsScroll">
                <div class="ImageWrapper">
                {% if now_playing %}
                    {% for movie in now_playing %}
                    <a href="/movie_information/{{ movie.moviesId }}" data-tippy-content="{{ movie.movieTitle }}">
                        <img src="{{ url_for('static', filename='images/' + movie.movieImage ) }}" alt="{{ movie.movieTitle }}" class="ContentImg">
                    </a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            <div class="ScrollButton RightButton Arrow">&#10095;</div>
        </div>
    </div>



    <div class="ContentContainer">
        <div class="ContentBox">
            <div class="ContentText">イベント</div>
            <a href="" class="ContentTextMore">
                <div>もっとみる</div>
            </a>
        </div>

        <div class="Content">
            <div class="ScrollButton LeftButton Arrow">&#10094</div>
            <div class="ScrollContainer CssOnly JsScroll">
                <div class="ImageWrapper Event">
                {% if events %}
                    {% for event in events %}
                    <a href="/event/{{ event.eventInfoId }}" data-tippy-content="{{ event.eventTitle }}">
                        <img src="{{ url_for('static', filename='images/event/200h/' + event.eventImage ) }}" alt="{{ event.eventTitle }}" class="ContentImg EventImg">
                    </a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            <div class="ScrollButton RightButton Arrow">&#10095;</div>
        </div>
    </div>



    <div class="ContentContainer">
        <div class="ContentBox">
            <div class="ContentText">公開予定の映画</div>
            <a href="/movie_list?set=comingsoon" class="ContentTextMore">
                <div>もっとみる</div>
            </a>
        </div>

        <div class="Content">
            <div class="ScrollButton LeftButton Arrow">&#10094</div>

            <div class="ScrollContainer CssOnly JsScroll">
                <div class="ImageWrapper">
                {% if coming_soon %}
                    {% for movie in coming_soon %}
                    <a href="/movie_information/{{ movie.moviesId }}" data-tippy-content="{{ movie.movieTitle }}">
                        <img src="{{ url_for('static', filename='images/' + movie.movieImage ) }}" alt="{{ movie.movieTitle }}" class="ContentImg">
                        <div>{{ movie.movieReleaseDate|strftime('%Y年%m月%d日') }} 公開</div>
                    </a>
                    {% endfor %}
                {% endif %}

                </div>
            </div>
            <div class="ScrollButton RightButton Arrow">&#10095;</div>
        </div>
    </div>

    {% include '_footer.html' %}




    <script src="{{ url_for('static', filename='js/top.js') }}"></script>



</body>
</html>