<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/top.css') }}">
    <title>HALシネマ トップページ</title>
</head>

<body>
    {% include '_header.html' %}

    <!-- スライドショー -->
    <div class="SlideshowContainer">
        <div class="SlidesWrapper">
            <div class="MySlides">
                <a href=""><img src="{{ url_for('static', filename='images/kishiberohan_bnr1920_960.jpg') }}" alt="岸辺露伴"></a>
            </div>
            <div class="MySlides">
                <a href=""><img src="{{ url_for('static', filename='images/MEGAMI_109_POP_W1920×H960_W_B.jpg') }}" alt="MEGAMI"></a>
            </div>
            <div class="MySlides">
                <a href=""><img src="{{ url_for('static', filename='images/missionimpossible2025_bnr1920_960.jpg') }}" alt="ミッション：インポッシブル"></a>
            </div>
            <div class="MySlides">
                <a href=""><img src="{{ url_for('static', filename='images/Paddington3_109conce_W1920xH960.jpg') }}" alt="パディントン3"></a>
            </div>
            <div class="MySlides">
                <a href=""><img src="{{ url_for('static', filename='images/nagoyaScreenX.jpg') }}" alt="名古屋ScreenX"></a>
            </div>
        </div>

        <a class="Prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="Next" onclick="plusSlides(1)">&#10095;</a>
    </div>


    <!-- メインコンテンツ -->
    <div class="ContentContainer">
        <div class="ContentBox">
            <div class="ContentText">人気の映画</div>
            <a href="/movie_list" class="ContentTextMore">
                <div>もっとみる</div>
            </a>
        </div>

        <div class="Content">
            <div class="ScrollButton LeftButton">
                <div>
                    <div class="ArrowLine Top"></div>
                    <div class="ArrowLine Bottom"></div>
                </div>
            </div>

            <div class="ScrollContainer CssOnly JsScroll">
                <div class="ImageWrapper">
                {% if now_playing %}
                    {% for movie in now_playing %}
                    <a href="/movie_information/{{ movie.moviesId }}"><img src="{{ url_for('static', filename='images/' + movie.movieImage ) }}" alt="{{ movie.movieTitle }}"></a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            <div class="ScrollButton RightButton">
                <div>
                    <div class="ArrowLine Top1"></div>
                    <div class="ArrowLine Bottom1"></div>
                </div>
            </div>
        </div>
    </div>



    <div class="ContentContainer">
        <div class="ContentBox">
            <div class="ContentText">イベント</div>
            <a href="" class="ContentTextMore">
                <div>もっとみる</div>
            </a>
        </div>

        <div class="Content">
            <div class="ScrollButton LeftButton EventButton">
                <div>
                    <div class="ArrowLine Top"></div>
                    <div class="ArrowLine Bottom"></div>
                </div>
            </div>
            <div class="ScrollContainer CssOnly JsScroll">
                <div class="ImageWrapper Event">
                {% if events %}
                    {% for event in events %}
                    <a href="/event/{{ event.eventInfoId }}"><img src="{{ url_for('static', filename='images/' + event.eventImage ) }}" alt=""></a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>
            <div class="ScrollButton RightButton EventButton">
                <div>
                    <div class="ArrowLine Top1"></div>
                    <div class="ArrowLine Bottom1"></div>
                </div>
            </div>
        </div>
    </div>



    <div class="ContentContainer">
        <div class="ContentBox">
            <div class="ContentText">公開予定の映画</div>
            <a href="/movie_list?set=comingsoon" class="ContentTextMore">
                <div>もっとみる</div>
            </a>
        </div>

        <div class="Content">
            <div class="ScrollButton LeftButton">
                <div>
                    <div class="ArrowLine Top"></div>
                    <div class="ArrowLine Bottom"></div>
                </div>
            </div>

            <div class="ScrollContainer CssOnly JsScroll">
                <div class="ImageWrapper">
                {% if coming_soon %}
                    {% for movie in coming_soon %}
                    <a href="/movie_information/{{ movie.moviesId }}"><img src="{{ url_for('static', filename='images/' + movie.movieImage ) }}" alt="{{ movie.movieTitle }}"><div>{{ movie.movieEndDate|strftime('%Y年%m月%d日') }} 公開</div></a>
                    {% endfor %}
                {% endif %}

                </div>
            </div>
            <div class="ScrollButton RightButton">
                <div>
                    <div class="ArrowLine Top1"></div>
                    <div class="ArrowLine Bottom1"></div>
                </div>
            </div>
        </div>
    </div>

    {% include '_footer.html' %}




    <script src="{{ url_for('static', filename='js/top.js') }}"></script>



</body>
</html>